@import "../src/common/colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Golos+Text&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: $font-primary;
}

body {
	background: $primary-color;
	font-family: "Golos Text", sans-serif;
}

.container {
	margin: 0px 40px;
}
